

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">SCOIApp</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">
		<MudStack style="margin:10px">
			<MudButton Variant="Variant.Filled" Color="Color.Tertiary">Secondary</MudButton>
			<MudButton Variant="Variant.Filled" Color="Color.Secondary">Secondary</MudButton>
			<MudButton Variant="Variant.Filled" Color="Color.Secondary">Secondary</MudButton>
		</MudStack>
	</nav>
</div>
